.App {
  background-image: url('./public/img/s2-banner.png');
  background-position: center 0;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 10.5625rem;
}


@media only screen and (max-width: 960px) {
  .App {
    background-image: url('./public/img/m-s2-banner.png');
    background-size: 100% 12.25rem;
    padding-top: 12.25rem;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.zone-title {
  margin: 2px;
}

.zone-icon{
  width: 15px;
  height: 16px;
  vertical-align: middle;
}