@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.zone-grid {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.boss-zone {
  border-radius: 5px;
  margin-bottom: 20px;
}

.boss-zone h2 {
  margin-top: 0;
}

.bosses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 10px;
}

.zone-name {
  font-size: 15px;
  margin: 0;
}
